body {
  margin: 0;
  padding: 0;
}
#third-panel {
  height: 93vh;
  width: 400px;
  align-items: center;
  background-color : #ebebed;
  display: flex;
  flex-direction: column;
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
}
.navigate-first-panel {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  width: 95%;
  margin-top: 5px;
  margin-bottom: 18px;
}
.first-panel-top:hover,#second-panel-top:hover,.third-panel:hover {
  background-color : #d8d8de;
}
#fourth-panel:hover, #fifth-panel:hover {
  background-color : #d8d8de;
}
.first-panel-top {
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  font-size: 17px;
  font-weight: bold;
}
.first-panel-bottom {
  height: 50px;
  color: #1f78e6;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 17px;
}
#right-panel-image {
  height: 17px;
  width: 17px;
  padding-right: 7px;
}
#right-navigate-check {
  height: 17px;
  width: 17px;
}
#header {
  margin-right: 190px;
}
.navigate-second-panel {
  width: 95%;
  height: 50px;
  float: right;
  margin-bottom: 18px;
}
#second-panel-top {
  background-color: #ffffff;
  text-align: left;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 15px;
}
.right-panel-images {
  height: 17px;
  width: 17px;
  float: left;
  padding-right: 6px;
}
.right-panel-button-text {
  padding-left: 10px;
  opacity: 0.7;
}
.navigate-third-panel {
  width: 95%;
  height: 150px;
  float: right;
  margin-bottom: 18px;
  display: flex;
  flex-direction: column;
}
.third-panel {
  background-color: #ffffff;
  border: none;
  border-bottom: 1px solid #d8d8de;
  text-align: left;
  width: 100%;
  height: 50px;
  font-size: 15px;
}
.navigate-fourth-panel {
  width: 95%;
  height: 50px;
  float: right;
  margin-bottom: 18px;
}
#fourth-panel {
  background-color: #ffffff;
  text-align: left;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 15px;
}
.navigate-fifth-panel {
  width: 95%;
  height: 50px;
  float: right;
  margin-bottom: 18px;
}
#fifth-panel {
  background-color: #ffffff;
  text-align: left;
  border: none;
  width: 100%;
  height: 50px;
  font-size: 15px;
}
.navigate-sixth-panel {
  width: 95%;
  height: 50px;
}
#right-panel-textarea {
  background-color: #ffffff;
  border: none;
  width: 97%;
  height: 90%;
}
#new-step {
  border: none;
  background-color: #ffffff;
  padding: 4px;
}
#new-step:focus {
  outline: none;
}
#add-step {
  border: none;
  background-color: #ffffff;
  font-size: 20px;
}
#add-step:hover {
  background-color: #d8d8d8;
  cursor: pointer;
}
#added-step-area {
  padding-left: 12px;
  overflow: auto;
}
input[type=checkbox] {
  width: 0.9em;
  height: 0.9em;
  background-color: #ffffff;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #353434;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  margin-bottom: 6px;
}

input[type=checkbox]:checked {
  background-color: #0078D7;
}
.delete-button {
  position: absolute;
  margin-left: 630px;
  margin-top: 250px;
  background-color: #f1efef;
  height: 150px;
  width: 250px;
  padding-right: 5px;
  display: flex;
  flex-direction: column;
  display: none;
  box-shadow:  4px 8px rgba(0, 0, 0, 0.2), 6px 8px rgba(0, 0, 0, 0.19);
}
#second-delete-text{
  padding-left: 5px;
  padding-bottom: 20px;
}
#delete-text {
  text-align:center;
  height: 40%;
  font-weight: bold;
  margin-top: 10px;
}
#lower-delete-text {
  height: 60%;
}
.delete-cancel {
    height: 30px;
    width: 60px;
    border-radius: 2px;
    border: none;
}
.delete-cancel:hover {
  cursor: pointer;
}
.delete-cancel:active {
  color: #1f78e6;
  background-color: #08ac36;
  box-shadow: 0 5px #666666;
  transform: translateY(4px);
}
#cancel {
  margin-left: 110px;
  background-color: #ebebed;
}
#confirm-delete {
  background-color:	#ff0000;
  color: #ffffff;
}
.top-bar {
  width: 100%;
  height: 7vh;
  background-color: #1f78e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bottom-bar {
  height: 93vh;
  display: flex;
  flex-direction: row;
}
.bottom-side-tab {
  background-color: #ebebed;
  width: 20%;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  overflow-x:hidden;
  transition: 0.5s;
}
.menu {
  height: 92%;
}
.menu-icon {
  height: 8%;
  border-top: 1px solid #000000;
}
.menu-items {
  list-style: none;
  margin-left: -20px;
}
.symbols  {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: -30px;
  margin-top: 2px;
}
#message, #calendar,#connect,#pin,#click {
  height: 42px;
  width: 40px;
  background-color: #ebebed;
  border: none;
  font-size: 15px;
}
#message:hover, #calendar:hover,#connect:hover,#pin:hover,#click:hover {
  background-color: #ffffff;
  cursor: pointer;
}
#back {
  border: none;
  background-color:#ebebed;
  padding: 10px;
  color: #1f78e6;
  font-size: 20px;
}
#back:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.image {
  height: 15px;
  width: 15px;
  padding-right: 8px;
  /*align: left;*/
  float: left;
}
.images {
  height: 17px;
  width: 17px;
}
.bottom-image {
  height: 17px;
  width: 17px;
}
#my-day, #important, #planned, #assigned, #tasks {
  width: 255px;
  padding: 7px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
  padding-left: 25px;
  text-align: left;
  margin-left: -20px;
  border: none;
  background-color: #ebebed;
  opacity: 0.7;
}
#my-day:hover, #important:hover, #planned:hover, #assigned:hover, #tasks:hover {
  background-color: #ffffff;
  cursor: pointer;
}
#my-day:active, #important:active, #planned:active, #assigned:active, #tasks:active {
  color: #1f78e6;
}
#add-task {
  padding-bottom: 4px;
  color: #1f78e6;
  font-size: 25px;
  text-align: center;
  border: none;
  background-color: #ebebed;
}
#add-task:hover {
  background-color: #ffffff;
  cursor: pointer;
}
#new-list {
  padding: 5px;
  width: 120px;
  background-color: #ebebed;
  border: none;
}
#new-list:focus {
  outline: none;
  background-color: #ffffff;
}
.right-panel-top{
  padding: 10px;
  padding-left: 20px;
}
.right-panel-title {
  padding: 10px;
  font-size: 25px;
  font-weight: bold;
}
.panel-subtask{
  padding: 5px;
  color: grey;
}
#add {
  height:15px;
  border-radius: 50%;
  border: 1px solid ;
}
#add:hover {
  background-color: #1f78e6;
}
#sub-text{
  border: none;
}
#sub-text:focus{
  outline: none;
}
.lines {
  margin-left: 10px;
  margin-right: 10px;
  height: 460px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.line {
 border-bottom: 1.5px solid #e6e7ea;
}
.border-line {
  border-bottom: 1.5px solid #e6e7ea;
 }
.right-panel {
  color: #000000;
  background-color:#ffffff;
  width: 80%;
}
.top-left-corner {
  list-style: none;
}
.top-right-corner {
  position: relative;
  margin-right: 10px;
}
.top-left-corner li a {
  text-decoration: none;
  color: #ffffff;
  font-family: sans-serif;
  font-size: 17px; 
}
.top-left-corner li, .top-right-corner li {
  display: inline-block;
}
#navigate {
  position: relative;
  margin-left: -20px;
  margin-right: 10px;
  color: #ffffff;
  background-color: #1f78e6;
  height: 40px;
  border: none;
  width: 40px;
  font-size: 23px; 
}
#search {
  width: 350px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 2px;
  border: none;
}
#settings {
  background-color: #1f78e6;
  height: 40px;
  border: none;
  width: 40px;
}
#settings:hover,#notification:hover,#help:hover,#profile:hover,#navigate:hover {
  cursor: pointer;
  background-color: #1866C6;
}
#notification {
  background-color: #1f78e6;
  height: 40px;
  border: none;
  width: 40px;
}
#help {
  background-color: #1f78e6;
  height: 40px;
  border: none;
  width: 40px;
  font-size: 17px;
}
#profile {
  background-color: #1f78e6;
  height: 40px;
  border: none;
  color: #ffffff;
  margin-bottom: 1px;
  width: 40px;
  font-size: 15px;
  border-radius: 50%;
  border: 1px solid #ffffff;
}
.new-list-style {
  cursor: pointer;
  color: #1f78e6;
  background:  #ebebed;
  padding-left: 4px;
  padding-top: 15px;
  padding-bottom: 15px;
  list-style-image: url(../Assets/list.png);
  margin-left: 25px;
  font-size: 17px;
}
#added-task {
 line-height: 0px;
}
.subtask-button {
  background-color: #ffffff;
  border: none;
}
.subtask-button:hover {
  cursor: pointer;
}
.new-style {
  line-height: 1px;
}
.navigation-bar {
  display:none;
  flex-direction:column;
  background:  #ebebed;
  width:4%;
  height:100%;
  justify-content:space-between;
}
.navigation-top-image {
  height: 17px;
  width: 17px;
  padding: 15px;
  padding-right: 18px;
}
#toggle-upper-images {
  overflow-y: auto;
  overflow-x: hidden;
}
#envelope-image {
  border-top: 1px solid	#808080;
}
.navigation-bottom-image {
  height: 17px;
  width: 17px;
  padding: 15px;
  padding-right: 18px;
}
.navigation-top-image:hover, .navigation-bottom-image:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.close {
  border: none;
  background-color:#ebebed;
  padding: 10px;
  color: #1f78e6;
  font-size: 20px;
}
.close:hover {
  background-color: #ffffff;
  cursor: pointer;
}
.search {
  height: 17px;
  width: 17px;
  position: absolute;
  margin-top: 6px; 
  padding-left: 2px;
}
#assigned-panel{
  display: none;
  margin-left: 10px;
  margin-right: 10px;
  height: 460px;
  display: none;
}
#assigned-image {
  height: 350px;
  margin-left: 220px;
  margin-top: 30px;
}
#deletor {
  background-color: #ffffff;
  border: none;
  font-size: 25px;
  margin-left: 2px;
}
#deletor:hover {
  background-color: #ebebed;
  cursor: pointer;
}
